.modalBackground {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 350px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  /* margin-top: 60px; */
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
}

.modalContainer .Box_Center {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto;
  width: 50%;
  padding: 10px; */
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

.custom-dialog {
  text-align: center;
  margin-top: 70px;
  width: 550px;
  height: auto;
}

.custom-ModalFooter {
  background-color: white;
}